[submodule "site-lisp/emacs-livedown"]
	path = site-lisp/emacs-livedown
	url = https://github.com/shime/emacs-livedown.git
[submodule "site-lisp/emacs-theme-gruvbox"]
	path = site-lisp/emacs-theme-gruvbox
	url = https://github.com/iostapyshyn/emacs-theme-gruvbox.git
